-
  const headerClient = '#recent clients';
  const clientList = [
    "/asset/image/client/client.jpg"

#client
.client
  .client__header=headerClient
  .client__list
    each client in clientList
      .client__image
