.experience {
  background-color: $color-fiord;
}

.experience__details,
.experience__input {
  display: none;
}

.experience__input:checked + .experience__title + .experience__details {
  display: inherit;
}

.experience__header {
  color: $color-white;
  @extend %header;
}

.experience__title {
  background-color: $color-fiord;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  padding: 2rem;
  cursor: pointer;
}

.experience__details {
  border: 0.2rem solid $color-fiord;
}

.experience__top {
  display: flex;
  justify-content: space-between;
}

.experience__date {
  font-style: italic;
}

.experience__company {
  font-weight: bold;
}

.experience__company,
.experience__date {
  font-size: 1.3rem;
  padding: 1rem;
  font-style: italic;
  color: $color-white;
}

.experience__responsability {
  padding: 0.5rem 1rem;
  color: $color-white;
  font-size: 1.2rem;
  line-height: 1.2;

  &:nth-child(odd) {
    background-image: radial-gradient($color-manatee, $color-fiord);
  }

  &:nth-child(even) {
    background-color: $color-fiord;
  }
}

.my-cv__icon--plus {
  float: right;
  pointer-events: none;
  transition: all 0.5s ease;
}

.experience__input:checked + .experience__title {
  .my-cv__icon--plus {
    transform: rotateZ(45deg);
    pointer-events: all;
    cursor: pointer;
  }
}
