.landing-page {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient($color-manatee, $color-fiord);
}

.landing-page__wrapper {
  text-align: center;
}

.landing-page__name {
  font-size: 4rem;
  color: $color-white;
  text-transform: uppercase;
}

.landing-page__title {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: $color-rio-grande;
  margin-top: 1rem;
  font-style: italic;
}

.landing-page__social {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.landing-page__label {
  color: $color-white;
  padding: 0.2rem 0.4rem;
  font-size: 2.2rem;
  cursor: pointer;
  transition: all 0.5s ease;
  width: 80%;

  &:hover {
    color: $color-rio-grande;
  }
}

.landing-page__box-radio:checked + .landing-page__box-message {
  display: inherit;
}

.landing-page__box-radio,
.landing-page__box-message {
  display: none;
}

.landing-page__box-radio:checked + .landing-page__box-message {
  display: flex;
  transition: all 0.5s ease;
}

.landing-page__box-message {
  font-size: 1.7rem;
  justify-content: center;
}

#default-message-radio:checked
  + .landing-page__box-message
  + .landing-page__box-header {
  display: none;
}

.landing-page__box-body {
  border: 0.2rem solid $color-white;
  border-radius: 1rem;
  padding: 0.7rem;
  margin: 0 auto;
  width: 65%;
}

.landing-page__box-header {
  left: 10%;
  right: 10%;
  top: 100%;
  display: flex;
  justify-content: space-between;
}

.landing-page__box-info,
.landing-page__box-close {
  background: $color-rio-grande;
  padding: 0.4rem;
  white-space: nowrap;
  line-height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.landing-page__box-info {
  border-bottom-left-radius: 0.5rem;
  flex-grow: 1;
  font-size: 1.3rem;
}

.landing-page__box-close {
  cursor: pointer;
  font-size: 2.2rem;
  color: $color-manatee;
  background-color: $color-white;
  border-radius: 2rem;
  padding: 0rem 0.5rem;
  transition: all 0.5s ease;
  font-weight: bolder;

  &:hover {
    color: $color-rio-grande;
  }
}

.landing-page__box-link,
.landing-page__box-link:visited,
.landing-page__box-message {
  color: $color-rio-grande;
}

.landing-page__box-link,
.landing-page__box-link:visited {
  font-size: 1.7rem;
  white-space: nowrap;
  text-decoration: none;
  width: 85%;
  display: block;
}
