//- the model, the data
-
  const headerSkills = '#my skills';
  const whatCanIDoList = [
    {
      title: 'Front End',
      skillList: [
        'HTML5',
        'CSS3',
        'JavaScript',
        'React',
        'Redux',
        'React Hooks',
        'Sass',
        'Less',
        'Webpack',
        'Bootstrap',
        'UI/UX',
        'SEO',
        'Gulp',
        'Handlebars',
        'PhotoShop',
        'Illustrator',
      ]
    },
    {
      title: 'Back End',
      skillList: [
        'Node.js',
        'SQL',
        'Git',
        'Pug',
        'Jade',
        'Firebase',
        'Bash',
        'RESFul API',
        'JSON',
      ]
    },
    {
      title: 'OS & Others',
      skillList: [
        'Jira',
        'Rally',
        'Agile',
        'Windows',
        'Linux',
        'DOS/CLI',
        'Word',
        'Excel',
        'PowerPoint',
      ]
    }
  ];

//- the presentation, the view
#what-can-i-do
.what-can-i-do
  .what-can-i-do__header=headerSkills
  each whatCanIDo in whatCanIDoList
    .what-can-i-do__title=whatCanIDo.title
    .what-can-i-do__list
      each skill in whatCanIDo.skillList
        .what-can-i-do__skill=skill