extends _component/layout/page
block config
  -
    const myTitle = 'My Awesome CV';
    const myDescription = 'This is made using pure HTML and CSS3 techniques';
block content
  include _component/landing-page/landing-page
  include _component/about-me/about-me
  include _component/award/award
  include _component/my-skills/my-skills
  include _component/experience/experience
  include _component/client/client
  include _component/menu/menu
  include _component/landscape/landscape