.landscape,
.landscape__input {
  display: none;
}

.landscape {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $color-manatee;
  transition: all 0.5s ease-in;
}

.landscape__button {
  display: block;
  background-color: $color-fiord;
  color: $color-white;
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  font-size: 1.5rem;
  padding: 0.8rem;
  border-radius: 1rem;
  text-decoration: none;
  border: 0.1rem solid $color-white;
  transition: all 0.5s ease;
  // display: none;

  &:hover {
    color: $color-fiord;
    background-color: $color-white;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1),
      0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
  }
}

.landscape__description {
  padding: 2rem 0;
  margin-left: 2.5rem;
}

@media (orientation: landscape) {
  .landscape {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-white;
    font-size: 2rem;
  }

  .landscape__list {
    list-style-type: disc;
  }

  .landscape__message--show {
    display: none;
  }

  .landscape__message--hide {
    display: block;
  }

  #landscape:checked + .landscape {
    top: -100%;

    .landscape__message--show {
      display: block;
    }

    .landscape__message--hide {
      display: none;
    }
  }
}

.landscape__item {
  margin-left: 6rem;
}
